/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
/* background: #E5E5E5; */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ffff;
  background-color: #1b1b1b;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* ...................................... */
.main-block__subtitle {
  position: relative;
  width: 508px;
  height: 28px;
  left: calc(50% - 508px / 2);
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 10%;
  font-weight: 700;
}

.main-block__title {
  position: relative;
  text-transform: uppercase;
  font-size: 72px;
  line-height: 84px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 10%;
  width: 595px;
  height: 84px;
  left: calc(50% - 595px / 2 + 0.5px);
}

._container {
  max-width: 1440px;
  margin: 0px auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

/* ............Navbar............................................ */
.header {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  background-color: #212121;
  color: #fff;
  z-index: 100;
  opacity: 0.98;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 1em;
}

.menu {
  width: fit-content;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: #212121;
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* .............MAIN PAGE..................... */
.page {
  flex: 1 1 auto;
}

.main-block__container {
  background-image: url(/img/back.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 117px;
  padding-bottom: 5%;
}

.main-block__body {
  z-index: 2;
  text-align: center;
  padding: 100px;
  margin: 50px;
}

.main-block__text {
  position: relative;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 187.5%;
  width: 460px;
  height: 60px;
  left: calc(50% - 460px / 2);
}

.main-block__buttons {
  position: relative;
  height: 53px;
  left: calc(50% - 200px / 2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 18px 30px;
  background: #ffffff;
  border-radius: 50px;
}

.main-block__button {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 106.25%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #272142;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.fluid-image {
  width: 8%;
  height: 8%;
}

/* .................ABOUT ME PAGE................ */
.aboutme-main {
  display: flex;
  flex-direction: row;
  gap: 3%;
  margin-top: 5.8%;
}

.fluid-imag {
  width: 35.9%;
  height: 35.9%;
}

.about-content {
  padding-top: 5%;
  display: flex;
  flex-flow: column;
  align-content: flex-start;
  gap: 18px;
}

.subtittle {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 131.25%;
  color: #f65282;
  letter-spacing: 0.1em;
}

.about-title {
  font-size: 52px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.about-paragraf {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 187.5%;
  margin: 0.5% 15% 0.5% 0%;
  margin-bottom: 1.2%;
}

.social-icons-about {
  display: flex;
  flex-direction: row;
  gap: 8%;
  margin-bottom: 1.4%;
}

.camera-info {
  display: flex;
  align-items: center;
  background-color: #202020;
  padding: 20px;
  margin-right: 50%;
  margin-bottom: 1.4%;
}

.about-mebtn {
  width: 200px;
  padding: 18px 30px;
  background: #ffffff;
  border-radius: 50px;
  text-align: center;
  margin-bottom: 10%;
}

.camera-text {
  margin: 3%;
}

.photos-about {
  position: sticky;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.img-fluid {
  margin: 10px;
  padding: 10px;
}

/* ................Gallery Page................. */
._gallery-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-title {
  font-size: 72px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 427.3%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  margin-top: 5%;
}

._second-header {
  background-color: #202020;
}

/* ........CONTACT PAGE.......................... */
.page_container {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

._last {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 12%;
}

.title-contactpage {
  position: relative;
  height: 25%;
  text-transform: uppercase;
  font-size: 72px;
  line-height: 84px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 10%;
}

.subtittle {
  color: #f65282;
  font-weight: 700;
  font-size: 14px;
  line-height: 102.5%;
  text-transform: uppercase;
}

.info {
  font-weight: 400;
  font-size: 18px;
  line-height: 187.5%;
}

/* ............FOOTER.......................... */

a {
  color: #ffffff;
}

a:hover {
  color: #f65282;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5% 0% 1.5% 0%;
  background: #282323;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50%;
}

.footer__logo {
  width: 5%;
  height: 5%;
}

/* ..............@media................. */
@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 25%;
  }

  .title-contactpage {
    font-size: 48px;
  }

  .main-block__subtitle {
    padding-top: 55%;
    padding-bottom: 5%;
  }

  .main-block__text {
    padding-top: 5%;
    padding-bottom: 15%;
  }

  .aboutme-main {
    margin-top: 10%;
  }

  .footer__logo {
    width: 8% !important;
    height: 8% !important;
  }

  .rights {
    font-size: 14px;
  }

  ._item3 {
    order: 2 !important;
  }

  .camera-info {
    margin-right: 17%;
  }

  .photos-main,
  ._item1,
  ._index-top {
    display: none;
  }

  .gallery-title {
    margin-top: 5%;
  }
}

@media (max-width: 767px) {
  .aboutme-main {
    margin-top: 10%;
  }

  .span-rights {
    display: none;
  }

  .title-contactpage {
    font-size: 32px;
  }

  ._last {
    gap: 30%;
  }

  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 5%;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .menu li {
    border: 1px solid #f65282;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu > li {
    display: flex;
    justify-content: center;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
    opacity: 0.9;
  }

  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  .header__menu {
    margin: 0px 0px 0px 15%;
  }

  .header__logo {
    margin: 0px !important;
    padding: 0px !important;
  }

  .gallery {
    display: none;
  }

  ._second {
    display: contents;
  }

  .main-block__container {
    margin-top: 15%;
  }

  .main-block__title {
    font-size: 32px;
  }

  .main-block__subtitle {
    padding-top: 15%;
  }

  .main-block__text {
    padding-top: 5%;
    padding-bottom: 25%;
  }

  .main-block__body {
    margin: 150px 5px 0px 5px !important;
    padding: 0px 10px 20px 10px !important;
  }

  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 24px;
  }

  .gallery-title {
    font-size: 48px;
  }

  .main-block__text {
    width: 320px !important;
    left: calc(50% - 320px / 2) !important;
  }

  .footer__logo {
    width: 8%;
    height: 8%;
  }

  .footer {
    margin-bottom: 3.5%;
  }

  .rights {
    font-size: 10px;
  }

  .fluid-imag {
    display: none;
  }

  .about-title {
    font-size: 32px;
  }

  .about-content {
    position: relative;
    display: flex;
    margin: 15% 0% 0.3% 2%;
    gap: 25px;
  }

  .about-paragraf {
    font-size: 16px;
    margin: 0 auto;
  }

  .gallery-title {
    margin-top: 15%;
  }

  .camera-info {
    margin-right: 2% !important;
  }

  ._item1,
  ._item2,
  ._index-top {
    display: none;
  }
}

@media (max-width: 479px) {
  ._item1,
  ._item2 {
    display: none;
  }

  .span-rights {
    display: none;
  }

  ._last {
    gap: 20%;
  }

  .title-contactpage {
    font-size: 28px;
  }

  .header__menu {
    margin: 0px 0px 0px 10%;
  }

  .gallery {
    display: none;
  }

  ._second {
    display: contents;
  }

  h1 {
    padding-top: 5%;
  }

  .main-block__container {
    margin-top: 19%;
  }

  .main-block__subtitle {
    padding-top: 3%;
  }

  .main-block__text {
    padding-top: 5%;
    padding-bottom: 25%;
  }

  .gallery-title {
    font-size: 32px;
  }

  .camera-info {
    margin-right: 2% !important;
  }
}

.top {
  --offset: 50px;

  position: fixed;
  margin-top: calc(70vh + var(--offset));
  place-self: end;
  bottom: 20px;
  /* visual styling */
  text-decoration: none;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background: #212121;
  border-radius: 100px;
  white-space: nowrap;
}
